@import '../../styles/variables/variables.scss';

.list {
  padding: 5px;
  position: relative;
  height: 100%;

  &__top {
    display: flex;
    margin-bottom: 5px;
  }

  &__heading {
    margin-right: auto;
  }

  &__info {
    color: $gray;
    cursor: pointer;
  }

  &__content {
    position: relative;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 10px;
  }

  &__add {
    position: absolute;
    bottom: 5px;
    right: 5px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: $blue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }

  &:hover &__add {
    visibility: visible;
  }
}

.list_md {
  max-height: 91%;
}

.list_lg {
  max-height: 95%;
}

.list_sm {
  max-height: 82%;
}
