@import '../../styles/variables/variables.scss';

.canvasItem {
  padding: 10px;
  display: flex;
  justify-content: space-between;

  &__icon {
    visibility: hidden;
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
  }

  &:hover &__icon {
    visibility: visible;
  }

  &__controls {
    width: 60px;
    display: flex;
    justify-content: space-between;
  }

  &:hover {
    background-color: $lightGray;
  }
}
