input,
textarea {
  width: 100%;
  border: 1px solid $lightGray;
  border-radius: 5px;
  height: 35px;
  font-size-adjust: 0.9rem;
  padding: 5px;
  &:focus {
    outline: none;
  }
}

.form > div {
  margin-bottom: 10px;
}

.form {
  &__header,
  &__text {
    text-align: center;
  }

  &__text {
    color: $gray;
    margin-bottom: 25px;
  }

  &__error {
    color: $red;
    font-size: 0.9rem;
  }

  &__invalid {
    border: 1px solid $red;
  }
}

textarea {
  resize: none;
  height: 80px;
}
