@import '../../styles/variables/variables.scss';

.modal {
  background-color: $white;
  border-radius: 10px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 5px;

  &__controls {
    display: flex;
    p {
      margin-right: auto;
    }
  }

  &__input {
    margin: 10px 0;
  }

  &__close {
    color: $gray;
    cursor: pointer;
  }
}
