@import '../../styles/variables/variables.scss';

.modal {
  &__colors {
    display: flex;
    margin-top: 10px;
  }

  &__color {
    flex: 1;
    height: 15px;
    margin-right: 3px;
    cursor: pointer;
    &:last-child {
      margin-right: 0px;
    }
  }
}
